.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes colorChange {
  0% {
    background: black;
  }
  50% {
    background: brown;
  }
  100% {
    background: black;
  }
}


.playingAnimation {
  animation-name: colorChange;
  animation-duration: 4.5s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.pausedAnimation {
  animation-play-state: paused;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonsContainer button{
  padding: 5px;
  min-width: 60px;
}

